global:
  resolve_timeout: 5m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 24h
  receiver: 'email'

receivers:
- name: 'email'
  email_configs:
  - to: '<to address'
    from: '<from address>'
    smarthost: 'smtp.gmail.com:465' 
    auth_username: '<gmail username>'
    auth_password: '<gmail app password>'
    require_tls: false
